﻿@model List<LearnerProject.Models.Entities.Review>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/TeacherLayout/Index.cshtml";
    var count = 0;
}
<br />
<h4>Kurslarima Yapilan Incelemeler</h4>
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Ogrenci Adi</th>
            <th>Kurs Adi</th>
            <th>Aciklama</th>
            <th>Degerlendirme Puani</th>
            <th>Sil</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <th>@item.Student.NameSurname</th>
            <td>@item.Course.CourseName</td>
            <td>@item.Comment</td>
            <td>@item.ReviewValue</td>
            <td><a href="/TeacherReview/DeleteReview/@item.ReviewId" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Sil</a></td>
        </tr>
    }
</table>