﻿@model List<LearnerProject.Models.Entities.FAQ>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h3>En Cok Sorulan Sorular</h3>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Sorular</th>
            <th>Cevaplar</th>
            <th>Resim</th>
            <th>Durum</th>
            <th>Sil</th>
            <th>Guncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td>@item.Question</td>
                <td>@item.Answer</td>
                <td><img src="@item.ImageUrl" style="height:50px;width:50px;" /></td>
                <td>@item.Status</td>

                <td><a href="/FAQ/DeleteFAQ/@item.FAQId" class="btn btn-outline-danger"><i class="fa fa-trash"></i>Sil</a></td>
                <td><a href="/FAQ/UpdateFAQ/@item.FAQId" class="btn btn-outline-info"> <i class="fa fa-edit"></i>Guncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/FAQ/AddFAQ/" class="btn btn-outline-success"><i class="fa fa-plus m-2"></i>En Cok Sorulan Sorulardan Ekle</a>