@model LearnerProject.Models.Entities.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Hakkimda Sayfasi Guncelle</h3>

<form method="post">

    @Html.HiddenFor(x => x.AboutId)
    <label>Baslik</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Aciklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Resim URL</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Item1</label>
    @Html.TextBoxFor(x => x.Item1, new { @class = "form-control" })
    <br />
    <label>Item2</label>
    @Html.TextBoxFor(x => x.Item2, new { @class = "form-control" })
    <br />
    <label>Item3</label>
    @Html.TextBoxFor(x => x.Item3, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-primary"><i class="fa fa-edit"></i>Güncelle</button>
</form>